
.btn{
    &:link,&:visited{
 text-transform: uppercase;
 text-decoration: none;
 padding: 1.5rem 4rem;
 display: inline-block;
 border-radius: 10rem;
 transition: all .2s;
 position: relative;
 font-size: $default-font-size;
    }

 
&--white{
    background-color:$color-white;
    color: $color-grey-dark;
        
    &::after{
        background-color: $color-white;
    }
}

&--green{
    background-color:$color-primary;
    color: $color-white;
        
    &::after{
        background-color: $color-white;
    }
}

&:hover{
    transform: translateY(-0.3rem);
    box-shadow:  0 1rem 2rem rgba($color-black, 0.2);
                /*h v  blur-radius spread-radius color */
                &::after{
                    /* to make the button bigger when hover is there */
                    transform: scaleX(1.4) scaleY(1.6);
                    opacity: 0;
                }
                
}

&:active{
    transform: translateY(-0.1rem);
    box-shadow:  0 .5rem 1rem rgba($color-black,0.2);
    
}
/*this pseudo element is going to create a button just like the existing one
* then it is going to place it behind the button once hover is over
*/
&:after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    /* to put button behind the real button */
    /* reference should be the button hence set relative to btn:link */
    position: absolute;
    top:0;
    left: 0;
    /* behind the button */
    z-index: -1;
    transition: all 0.4s
}



&--animated{
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode:  backwards!important; 
    /* it applies the style of the 0% befoore the animation starts  */
    /* 0%{
        opacity: 0;
        transform: translateY(30px);
    } */
    /* animation will start with the above setting as it has 0% */
}
}
.btn-text{
    &:link,&:visited{
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
    }
    &:hover{
        background-color:$color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
        transform: translateY(-2px);

    }
    &:active{
        box-shadow: 0 .5rem 2rem rgba($color-black, 0.15);
        transform: translateY(0);

    }
}
